SERVER_PORT=
REDIS_URL=
BACKEND_URL=
REDIS_CHANNEL=
QDRANT_URL=
QDRANT_gRPC_URL=
QDRANT_COLLECTION=
VLLM_URL=
HF_TOKEN=
GROQ_API=
EMBEDDING_MODEL_NAME=
VITE_GOOGLE_CLIENT_ID = 
VITE_GITHUB_CLIENT_ID = 